/*
!/assets/
/assets/*
!/downloads/
/downloads/*
!/papers/
/papers/*
!/assets/css/
/assets/css/*
!/assets/images/
/assets/images/*
!/assets/js/
/assets/js/*
!/papers/antiramsey-mfcs20/
/papers/antiramsey-mfcs20/*
!/papers/antiramsey20/
/papers/antiramsey20/*
!/papers/congest-mdst21/
/papers/congest-mdst21/*
!/papers/lb-sparse-mm-spaa24/
/papers/lb-sparse-mm-spaa24/*
!/papers/lb-sparse-mm25/
/papers/lb-sparse-mm25/*
!/papers/mpc_dp_trees23/
/papers/mpc_dp_trees23/*
!/papers/rectangular-lb-mm26/
/papers/rectangular-lb-mm26/*
!/.gitignore
!/.nojekyll
!/404.html
!/CNAME
!/assets/ICON-LICENSE.txt
!/assets/css/site.css
!/assets/images/favicon-192.png
!/assets/images/favicon.svg
!/assets/images/profile.jpg
!/assets/js/citation.js
!/cv.html
!/downloads/cv-academic.pdf
!/downloads/publications.pdf
!/favicon.ico
!/index.html
!/location.html
!/papers/antiramsey-mfcs20/citation.bib
!/papers/antiramsey-mfcs20/index.html
!/papers/antiramsey20/citation.bib
!/papers/antiramsey20/index.html
!/papers/congest-mdst21/citation.bib
!/papers/congest-mdst21/index.html
!/papers/lb-sparse-mm-spaa24/citation.bib
!/papers/lb-sparse-mm-spaa24/index.html
!/papers/lb-sparse-mm25/citation.bib
!/papers/lb-sparse-mm25/index.html
!/papers/mpc_dp_trees23/citation.bib
!/papers/mpc_dp_trees23/index.html
!/papers/rectangular-lb-mm26/citation.bib
!/papers/rectangular-lb-mm26/index.html
!/publications.html
